/* start_page.html */

#main_title {
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

#hello {
  text-align: center;
  color: #730268;
  font-size: 20px;
}
#main_href {
  text-decoration: none;
  color: black;
}


div {
  background-color: #CECEFC;
}

li {
  font-family: cursive;
  font-size: 16px;
  }

#sub_title {
  text-align: center;
  font-family: cursive;
}

#names {
  text-align: center;
}
.start_table {
margin:auto;

}

#box1 {
  border-radius: 20px;
  background-color: #FFD3FB;
  color: #4A1DA9;
  width: 350px;
  font-size: 20px;
  color: #4A1DA9;
  padding-left: 20px;
  padding-top: 5px;
}
/* Я не понимаю, как сделать эти 2 ячейки одинакового размера. В чем дело? почему они разные...? */
#address{
  border-radius: 20px;
  background-color: #FFD3FB;
  color: #571DD2;
  width: 350px;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
}

/*страница с указанием стоимости price.html */

#container {
  background: #E6F1FF;
  margin: auto;
}

#caption {
  color: #D965FA;
  font-size: 25px;
  font-family: cursive;
}

#service {
  width:500px;
  border-collapse: collapse;
  margin: auto;
}

.price {
  font-family: cursive;
  font-weight: 500;
  font-size: 16px;
  background-color: #E08AD7;
}
tr, th {
  text-align: left;
  padding-left: 10px;
  border: 1px solid black;
}
a {
  font-family: cursive;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
th {
  font-family: cursive;
  font-weight: 600;
  font-size: 16px;
  background-color: #FFDEF4;
}
.comment {
  text-align: center;
  color: #5c45f5;
  font-family: cursive;
}

/* authorize.html*/

#author {
width: 500px;
background-color: #CECEFC;
margin: auto;
margin-top: 10%;
}

#new {
  background-color:#CECEFC;
  text-align: center;
  margin-top: 20px;

  }
